<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body class="px-2 md:px-4">

<nav class="flex w-full py-2  ">
  <div class="flex w-full md:px-6 justify-between items-center">
    <div class="flex gap-4 p-4 items-center md:w-1/3">
      <img src="<%= asset_path('icon.png')%>" class="w-10" alt="icon">
      <p class="text-4xl font-serif font-semibold text-gray-800">Maze</p>
    </div>
    <div class="flex gap-6 p-4 items-center md:w-2/3 md:border-2 border-gray-300 rounded-2xl">
      <img src="<%= asset_path('search.png')%>" alt="icon">
      <p class="hidden md:block w-full text-lg font-medium text-gray-600">Search for something here...</p>
    </div>
  </div>
</nav>

<main class="bg-gray-200 rounded-2xl h-screen px-4 py-4 md:px-8 md:py-8">
  <form class="flex flex-col items-center justify-center py-4 px-2 md:px-8 md:py-8 bg-white rounded-2xl">
    <div class="flex flex-col gap-y-5 w-full px-2">
      <div class="">
        <label for="username" class="block text-base font-medium text-gray-900">Title</label>
        <div class="mt-2">
          <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-600"> 
            <input type="text" name="username " id="username" class="shrink-0 block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6 md:text-lg" placeholder="Whats happening?">
          </div>
        </div>
      </div>

      <div class="">
        <label for="about" class="block text-base font-medium text-gray-900">Description</label>
        <div class="mt-2">
          <textarea name="about" id="about" rows="3" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 md:text-lg"></textarea>
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-between gap-4">
        <div class="flex gap-4 md:gap-6">
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('video.png')%>" alt="">
            <p class="text-sm md:text-lg">Live Video</p>
          </div>
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('image.png')%>" alt="">
            <p class="text-sm md:text-lg">Photo/Video</p>
          </div>
          <div class="flex items-center gap-2 hover:cursor-pointer">
            <img src="<%= asset_path('smile.png')%>" alt="">
            <p class="text-sm md:text-lg">Feeling</p>
          </div>
        </div>

        <div>
          <button class="w-full bg-indigo-600 hover:bg-indigo-800 text-white py-3 md:px-8 rounded-lg text-xl font-medium hover:cursor-pointer">Post</button>
        </div>
      </div>
    </div>


  </form>
</main>


</body>
</html>